* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
  --blue-pale: hsl(243, 100%, 93%);
  --blue-grayish: hsl(229, 7%, 55%);
  --blue-dark: hsl(228, 56%, 26%);
  --blue-vdark: hsl(229, 57%, 11%);
}
/* BODY */
/* General styles */

.body {
  color: #ffffff;
  font-family: Raleway, sans-serif;
}

.containter-style {
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: var(--blue-dark);
}

.box-shadow {
  -webkit-box-shadow: 2px 44px 86px -26px rgba(0,2,13,0.76);
  -moz-box-shadow: 2px 44px 86px -26px rgba(0,2,13,0.76);
  box-shadow: 2px 44px 86px -26px rgba(0,2,13,0.76);
}

/* - Mobile: 375px  - Desktop: 1440px  */
.wrapper {
  width: 100%;
  height: 100vh;
  z-index: -1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: var(--blue-vdark);
  background-image: url(images/bg-desktop.svg);
}
.wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  background-image: linear-gradient(to bottom, var(--blue-vdark), var(--blue-vdark), transparent);
  opacity: 0.8;
}

.row {
  z-index: 1;
  display: flex;
  align-items: flex-end;
  /* border: 2px solid red; */
  justify-content: space-around;
  margin-left: 14rem;
}

.img-container {
  width: 20rem;
  display: flex;
  margin-right: 1rem;
  align-items: start;
  flex-direction: column;
  justify-content: start;
  border-top-right-radius: 5rem;
}

.logo-container {
  width: 100%;
  text-align: left;
  margin-bottom: 1.5rem;
}
.icons-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icons-container .wrapper-icon{
  width: 3rem;
  height: 3rem;
  display: flex;
  margin-right: 1rem;
  align-items: center;
  border-radius: 0.5rem;
  justify-content: center;
  background-color: var(--blue-vdark);
}

.main-container {
  width: 30rem;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9rem;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.prog-container {
  width: 100%;
  text-align: left;
  margin-bottom: 1rem;
}
/*PROGRESS BAR*/
.prog-container progress {
  width: 100%;
  height: 1rem;
  margin-top: 1rem;
}

/* PROGRESS BAR CHROME */
.prog-container progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 1rem;
  border-style: none;
  border-radius: 2rem;
  background-color: var(--blue-vdark);
  border: 2px solid var(--blue-vdark);
}

/* PROGRESS BAR FOR Firefox */
.prog-container progress[value]::-moz-progress-bar {
  border-radius: 2rem;
    background-image:
    -moz-linear-gradient(
      left, 
      hsl(10, 79%, 72%),
      hsl(335, 100%, 65%)
    );
}

 .prog-container progress::-webkit-progress-bar {
  background-color: var(--blue-vdark);
  border-radius: 2rem;
}
 .prog-container progress::-webkit-progress-value {
  border-radius: 2rem;
   background-image:
	   -webkit-linear-gradient(left,hsl(10, 79%, 72%),
      hsl(335, 100%, 65%));
 }

.subtitles-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-weight: bold;
}

.spaceleft-wrapper {
  width: 13rem;
  display: flex;
  z-index:3;
  top: -8rem;
  left: -15rem;
  position: relative;
  padding: 1rem 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-bottom-right-radius: 0;
}

.spaceleft-wrapper p:nth-child(1){
  font-size: 3rem;
  font-weight: bold;
  margin-right: 0.5rem;
  color: var(--blue-vdark);
}
.spaceleft-wrapper p:nth-child(2){
  font-size: 1rem;
  font-weight: bold;
  color: var(--blue-grayish);
  position: relative;
}

.spaceleft-wrapper p:nth-child(2)::after{
  content:"";
  position: absolute;
  height: 0;
  width: 0;
  border-top: 2rem solid white;
  border-left: 2rem solid transparent;
  top: 3rem;
  left: 61px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 700px) { 
  .wrapper {
    /* padding-left: 2rem;
    padding-right: 2rem; */
    background-size: cover;
    background-image: url(images/bg-mobile.svg);
  }
  .wrapper::before {
    background-image: linear-gradient(to bottom, var(--blue-vdark),var(--blue-vdark), transparent);
  }
  .row {
    width: 100%;
    height: 70%;
    /* text-align: center; */
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    position: relative;
  }

  .img-container {
    width: 100%;
    margin: 0;
  }

  .main-container {
    z-index: 1;
    width: 100%;
    height: 800px;
    margin-top: 1rem;
    background-color: var(--blue-dark);
  }

  .prog-container {
     text-align: center;
  }

  /*PROGRESS BAR*/
  .prog-container progress {
    width: 100%;
  }
  .spaceleft-wrapper {
    position: relative;
    top: -5%;
    left: 0;
    z-index: 2;
    border-bottom-right-radius: 0.5rem;
  }
  .spaceleft-wrapper p:nth-child(2)::after{
    display: none;
  }
}